<aside class="side-nav">
  <div class="brand">
    <span class="brand-title">Project Hub</span>
    <span class="brand-subtitle">Project Hub v0.1-beta</span>
  </div>
  <nav class="nav-links">
    <a routerLink="/user-registrations" routerLinkActive="active">User Registrations</a>
    <a routerLink="/claro-sites" routerLinkActive="active">Claro Site</a>
    <a routerLink="/tim-sites" routerLinkActive="active">TIM Site</a>
    <a routerLink="/vivo-sites" routerLinkActive="active">Vivo Site</a>
    <a routerLink="/owners" routerLinkActive="active">Clients</a>
    <a routerLink="/contract-registrations" routerLinkActive="active">Contract Registrations</a>
    <a routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/tickets" routerLinkActive="active">Tickets</a>
    <a routerLink="/billings" routerLinkActive="active">Billing</a>
    <a routerLink="/addresses" routerLinkActive="active">Addresses</a>
    <a routerLink="/files" routerLinkActive="active">Files</a>
  </nav>
</aside>
